* {
  box-sizing: border-box;
}

/*MOBILE NAVIGATION*/
.navigationListMobile {
  display: inline-block;
}

/*NAVIGATION BAR STYLES*/
.navigation {
  background-color: antiquewhite;
  padding: 10px 4px;
  width: 100%;
}

.navigationList {
  display: none;
}

/*APP LOGO STYLES*/
.appLogoSection {
  height: 70px;
  width: 70px;
  display: inline-block;
  vertical-align: middle;
}

/*HAMBURGER BUTTON STYLES*/
.hamburgerSection {
  position: fixed;
  top: 18px;
  left: 83%;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  outline: none;
}

.hamburgerLine {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgb(12, 11, 11, 0.4);
}

.navigationListMobile {
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 70%;
  background-color: #dfe0df;
  border-right: 3px solid white;
}

.navLinksMobileList {
  padding: 0px;
  margin: 0px;
  margin: 90px;
}

.navLinksMobileContainer {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 40px 0px;
}

.navLinks {
  font-size: 1.1rem;
  text-decoration: none;
  color: #433520;
}

.signUpLink {
  color: #00917c;
}

.navLinks:hover,
.navLinks:active {
  border-bottom: 3px solid white;
}

@media (min-width: 725px) and (orientation: landscape) {
  .hamburgerSection {
    left: 90%;
  }

  .navLinksMobileList {
    margin: 150px 90px;
  }

  .navLinks {
    font-size: 1.4rem;
  }
}

/*------------------------------------------------------------------------------------------------*/
/*DESKTOP NAVIGATION*/
* {
  box-sizing: border-box;
}
@media (min-width: 725px) and (orientation: landscape) {
  .navigationListMobile,
  .hamburgerSection {
    display: none;
  }

  .navigationList {
    display: inline-block;
    width: 90%;
    text-align: right;
  }

  .navlinksContainer {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
  }

  .navLinks {
    font-size: 1.15rem;
    padding: 10px;
  }

  .navLinks:hover {
    background-color: white;
    border-radius: 10px;
  }
}
