* {
  box-sizing: border-box;
}

body {
  background-color: #f1b151;
}

.recipesCardSection {
  margin-top: 10rem;
}

/*LAYOUT FOR THE DESKTOP*/
@media (min-width: 1000px) and (max-width: 1035px) {
  .recipesCardSection {
    display: flex;
    flex-wrap: wrap;
  }
}

/*LAYOUT FOR THE DESKTOP*/
@media (min-width: 725px) and (orientation: landscape) {
  .recipesCardSection {
    display: flex;
    flex-wrap: wrap;
  }
}
